/*#######################################*/
/*-- GUIA_HTML MAIN --*/
/*utilizo un map para generar los backgrounds de los carriles*/
$carriles:(
    top:darius-bg-2, 
    jungla:jarvan-bg, 
    mid:akali-bg, 
    supp:braum-bg, 
    adc:miss_fortune-bg,
);
#guia_main{
    background: rgb(24, 24, 24);
    .guia_intro{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background/zed-bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        padding-top: 5rem;
        .titulo_guia{
            width: 100%;
            h2{
                width: 100%;
                background: rgba(0, 0, 0, 0.6);
                padding: 1rem;
                font-weight: lighter;
                font-style: italic;
            }
        }
        .articulo_intro{
            .descripcion-intro{
                width: 80%;
                transition: all 0.5s;
                &:hover{
                    background: linear-gradient(rgba(6, 9, 51, 0.9), rgba(6, 9, 51, 0.9));
                    border-radius: 1rem;
                }
            }
        }
    }
    #menu-guia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            transition: all 0.1s;
            &:hover{
                background-color: blue;
            }
        }
    }
    #elegir-campeon{
        .carriles-campeones{
            .carril{
                display: flex;
                align-items: center;
                .imagen-carril{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
                .container-carril{
                    width: 50%;
                    .titulo-carril{
                        background: rgba(0, 0, 0, 0.6);
                    }
                    .descripcion-carril{
                        transition: all 0.5s;
                        border-radius: 1rem;
                        &:hover{
                            background: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
            @each $rol, $campeon in $carriles {
                ##{$rol}{ 
                    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../images/background/#{$campeon}.jpg);
                    background-size: cover;
                }    
            }
        }
    }
}

@media(max-width:800px){
    #guia_main{
        .guia_intro{
            padding-top: 0;
            .articulo_intro{
                .descripcion-intro{
                    margin: 0% !important;
                    padding: 1rem !important;
                    width: 90% !important;
                }
            }
        }
        #elegir-campeon{
            .carriles-campeones{
                .carril{
                    flex-direction: column;
                    justify-content: center;
                    .imagen-carril{
                        width: 80%;
                        img{
                            width: 100%;
                        }
                    }
                    .container-carril{
                        width: 80%;
                    }
                }
            }
        }
    }   
}

@media(max-width:400px){
    #guia_main{
        background: rgb(24, 24, 24);
        .guia_intro{
            .articulo_intro{
                .descripcion-intro{
                    margin: 0% !important;
                    padding: 1rem !important;
                    width: 100% !important;
                }
            }
        }
    }   
}