/*--------- NOSOTROS ---------*/
/*utilizare un extend con esta clase para mis titulos*/
.titulo{
    font-weight: lighter;
    font-style: italic;
    text-transform: uppercase;
}

#nosotros_main{
    background-color: black;
    .articulo-nosotros{
        padding-top: 5rem;
        padding-bottom: 6rem;
        background-color: black;
        .titulo-nosotros{ 
            @extend .titulo;
            padding: 1rem;
            background: rgba(0, 0, 0, 0.6);
            color: crimson;
        }
        .fila-nosotros{
            padding: 1rem;
            display: flex;
            align-items: center;
            .imagen-nosotros{
                width: 45%;
            }
            .descripcion-nosotros{
                width: 55%;
                padding: 1rem;
                font-size: large;
                color: burlywood;
            }
        }
    }
    #seccion-preguntas{
        background: whitesmoke;
        #imagen-seccion-preguntas{
            img{
                width: 100%;
            }
        }
        #titulo-preguntas{ 
            @extend .titulo;
            padding: 1rem;
            background: rgb(216, 216, 216);
            color: indigo;
        }
        .listado-preguntas{
            padding: 1rem;
            list-style: none;
            background: rgb(60, 60, 60);
            li{
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3{
                    width: 100%;
                    @extend .titulo;
                    text-align: center;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background: rgba(0, 0, 0, 0.6);
                    color: crimson;
                }
                p{
                    text-align: center;
                    width: 90%;
                    color: whitesmoke;
                    font-size: large;
                }
            }
        }
    }
    #articulo-nosotros-1{
        background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/about/mobile_esports_team.jpg);
        background-size: cover;
        background-position: center;
    }
    #articulo-nosotros-2{
        background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/about/infinity_esports.jpg);
        background-size: cover;
        background-position: center;
    }   
}

@media(max-width:800px){
    #nosotros_main{
        .articulo-nosotros{
            padding-top: 0;
            padding-bottom: 0;
            .fila-nosotros{
                flex-direction: column;
                .imagen-nosotros{
                    width: 80%;
                }
                .descripcion-nosotros{
                    width: 100%;
                    text-align: center;
                }
            }
        }   
    }   
}

@media(max-width:400px){
    #nosotros_main{
        .articulo-nosotros{
            .fila-nosotros{
                padding: 0.5rem;
                .imagen-nosotros{
                    width: 100%;
                }
                .descripcion-nosotros{
                    padding: 0.5rem;
                    font-size: medium;
                }
            }
        }
        .listado-preguntas{
            padding: 0.5rem;
            li{
                padding: 0.5rem;
                h3{
                    font-size: large;
                }
                p{
                    font-size: medium;
                }
            }
        }   
    }   
}